@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'SecretServiceTypewriter';
        src: url('../fonts/SecretServiceTypewriter.woff2') format('woff2'),
            url('../fonts/SecretServiceTypewriter.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}